.container{
	width: 80%;
	margin:  auto;
}
html,body{
    margin: 0px;
    padding: 0px;
     font-family: 'Abel', sans-serif;
}
.row{
    width:100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.pad{
    margin: 20px auto;
    
}
[class*="col-"] {
    float: left;
    
}
.col-1-md {width: 8.33%;}
.col-2-md{width: 16.66%;}
.col-3-md {width: 25%;}
.col-4-md {width: 33.33%;}
.col-5-md {width: 41.66%;}
.col-6-md {width: 50%;}
.col-7-md {width: 58.33%;}
.col-8-md {width: 66.66%;}
.col-9-md {width: 75%;}
.col-10-md {width: 83.33%;}
.col-11-md {width: 91.66%;}
.col-12-md {width: 100%;}
}
ul{
    list-style-type: none;
}
.bg-image img{
    height: 100%;
    width:103%;
}

a{
	color:orange;
	text-decoration: none;
	list-style-type: none;
}

.vision,.comp{
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}
.vision img{
    width: 100%;
    height: 333px;
}
h1{
    font-size: 1.5em;
}
table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    text-align: center;
    padding: 5px;
    font-size: 15px;
}
th {
    background-color: #5499C7;
    color: white;
    font-style: bold;
    font-size: 20px;
}
.header-col{
	padding: 10px;
}

.copy{
    background: black;
    color:white;
    padding-bottom: 0px;
}
button{
    background:transparent;
    color: #000;
    border:2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0px;
}
.btn{
    color: #fff;

}
.foot{
    background-color: blue;
    color:white;
}
#table1 td{
    width: 50px;
}
td address{
    padding-top: 7px;
}
h2{
    text-align: center;
    font-weight: 300px;
    font-family:serif;
}
#sub_btn{
    background: transparent ! important;
    color: #000! important;
    border: 2px solid black ! important;
    border-radius: 5px ! important;
    padding: 5px ! important;
    margin: 10px 0px ! important;
}
.contact{
    padding-top: 10px;
}
.contact input,textarea{
    margin: 10px;
    border:2px solid black;
}

/*user_interface*/

.welcome img{
        width: 30em;
    height: 25em;
}

.bg-show img{
   width: 688px;
   height: 279px;
}
.bg-show-2 img{
  width: 660px;
  height: 295px;  
}

.sid-1 h1{
    font-size: 37px;
    text-align: center;
    font-family: initial;
}
.para-1{
    text-align: center;
}